<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <title>UStudy - Dashboard</title>

  <!-- Custom styles for this template -->
  <link href="../css/creative.min.css" rel="stylesheet">


</head>
<body class="dark-bg">
  <nav class="navbar navbar-expand-lg navbar-light bg-light " >
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="overworld/assets/Banner_black_med.png"  height="50px" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="../signup.html">Sign Out
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../dashboard.html">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../overworld/index.html">Overworld</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4 offset-lg-1">
                <div class="row">
                    <!-- Enrolled Courses -->
                    <div class="col-lg-12">
                      <h1 class="course-header text-center">Enrolled Courses</h1>
                      <hr>
                    </div>
                    <div class="col-lg-12 enrolled-course">
                        <div class="card">
                            <h4 class="card-header text-center">CS-545</h4>
                            <div class="card-body">
                                <p class="text-center">Human Computer Interation.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <button class="list-group-item text-center">Click Me</button>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 enrolled-course">
                        <div class="card">
                            <h4 class="card-header text-center">MA-122</h4>
                            <div class="card-body">
                                <p class="text-center">Integral Calculus</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <button class="list-group-item text-center">Click Me</button>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 enrolled-course">
                        <div class="card">
                            <h4 class="card-header text-center">BT-453</h4>
                            <div class="card-body">
                                <p class="text-center">Social Networks: A Marketing Perspective</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <button class="list-group-item text-center">Click Me</button>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 enrolled-course">
                        <div class="card">
                          <h4 class="card-header text-center">PEP-503</h4>
                          <div class="card-body">
                              <p class="text-center">Introduction to Solid State Physics</p>
                          </div>
                          <ul class="list-group list-group-flush">
                              <button class="list-group-item text-center">Click Me</button>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 offset-lg-1">
                <div class="row">
                    <!-- Created Courses -->
                    <div class="col-lg-12 course-heading">
                      <h1 class="course-header text-center">Created Courses</h1>
                      <hr>
                    </div>
                    <div class="col-lg-12 created-course">
                      <div class="card">
                        <h4 class="card-header text-center">CS-545</h4>
                        <div class="card-body">
                            <p class="text-center">Human Computer Interation.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <button class="list-group-item text-center">Click Me</button>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../node_modules/jquery/dist/jquery.js"></script>

    <script>
        $(function(){
            $(window).resize(function () {
                $('body').css('padding-top', $('.navbar').heigh()+10);
            });
            $(window).load(function () {
                $('body').css('padding-top', $('.navbar').heigh()+10);
            });
        });
    </script>
</body>

</html>
