<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <title>UStudy - Dashboard</title>

  <!-- Custom styles for this template -->
  <link href="../css/creative.min.css" rel="stylesheet">

</head>
<body class="bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" style="border-bottom: 1px solid white; border-top: 1px solid white">
        <div class="container">
            <a class="navbar-brand" href="#">
            <img src="../assets/logo2_md.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="padding-top: 10%;">
        <div class="row">
            <div class="col-md-12 col-lg-4 offset-lg-1">
                <div class="row">
                    <!-- Enrolled Courses -->
                    <div class="col-lg-12 enrolled-course">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">CS-545</h4>
                                <hr>
                                <p class="text-center">Human Computer Interation.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 enrolled-course">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">MA-122</h4>
                                <hr>
                                <p class="text-center">Integral Calculus</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 enrolled-course">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">BT-453</h4>
                                <hr>
                                <p class="text-center">Social Networks: A Marketing Perspective</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 enrolled-course">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">PEP-503</h4>
                                <hr>
                                <p class="text-center">Introduction to Solid State Physics</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 offset-lg-1">
                <div class="row">
                    <!-- Created Courses -->
                    <div class="col-lg-12 created-course">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">CS-545</h4>
                                <hr>
                                <p class="text-center">Human Computer Interation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
