<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UStudy - Sign Up</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="../css/creative.min.css" rel="stylesheet"> -->
    <link href="../css/signup.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
      <div class="container">
        <a class="navbar-brand" href="#page-top">
            <img src="../assets/logo2_md.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Sign Up -->
    <div class="container content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item active">
                                <a data-toggle="tab" class="nav-link active" href="#signup">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" class="nav-link" href="#login">Log In</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div id="signup" class="tab-pane fade in active show">
                                <form id="needs-validation" novalidate>
                                    <div class="form-group">
                                        <label for="firstName">First name</label>
                                        <input type="text" class="form-control" id="firstName" placeholder="First name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">Last name</label>
                                        <input type="text" class="form-control" id="lastName" placeholder="Last name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAddr">Email address</label>
                                        <input type="email" class="form-control" id="emailAddr" aria-describedby="emailHelp" placeholder="Enter email" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid email address.
                                        </div>
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwd">Password</label>
                                        <input type="password" class="form-control" id="passwd" placeholder="Enter password" required>
                                    </div>
                                    <div class="form-group">
                                            <label for="passwdCheck">Retype password</label>
                                            <input type="password" class="form-control" id="passwdCheck" placeholder="Retype password" required>
                                        </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        Remember me
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                </form>
                            </div>
                            <div id="login" class="tab-pane fade in">
                                <form>
                                    <div class="form-group">
                                        <label for="loginEmailAddr">Email address</label>
                                        <input type="email" class="form-control" id="loginEmailAddr" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="loginPasswd">Password</label>
                                        <input type="password" class="form-control" id="loginPasswd" placeholder="Enter password">
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            Remember me
                                        </label>
                                    </div>
                                    <a class="btn btn-primary" href="dashboard.html" role="button">Log In</a>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"></div>
        </div>
    </div> 

    <script>
        (function() {
            'use strict';

            window.addEventListener('load', function() {
                var form = document.getElementById('needs-validation');
                form.addEventListener('submit', function(event) {
                    var passwd = document.getElementById('passwd').value;
                    var passwdCheck = document.getElementById('passwdCheck').value;
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    else if (passwd != passwdCheck) {
                        alert("Passwords do not match!");
                    }
                    else {
                        form.classList.add('was-validated');
                        window.location.href = "dashboard.html";
                    }
                }, false);
            }, false);
        })();
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/creative.min.js"></script>

  </body>

</html>
