body{
  background-image: url("../../assets/USTUDY-bg.png");
}

center {
  margin-left: 100px;
  margin-right: 100px;
}

fieldset
{
    border: solid 10px white !important;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
    background-color: #ffcead;
}
legend
{
    padding:50px 50px;
    border-radius: 30px;
    padding: 30px !important;
    font-weight: bold;
    font-family: Helvetica-Light;
    color: white !important;
    background-color: #007bff !important;
    border: 10px solid white !important;
}
input.add
{
    float:right;
}
input.fieldname
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}
select.fieldtype
{
    float:left;
    display:block;
    margin:5px;
}
input.remove
{
    float:left;
    display:block;
    margin:5px;
    border: 5px solid white;
    border-radius: 10px;
}
#yourform label
{
    display:inline;
    margin:5px;
    font-size: 30px;
    padding-left: 20px
}
#yourform input, #yourform textarea
{
    float:left;
    display:block;
    margin:5px;
    padding-right: 20px;
}
#yourform {
  background-color: #ffcead;
  margin-bottom: 100px;
}
.add {
  margin: 10px;
  border: solid 5px white !important;
  border-radius: 30px !important;
}

.strokeme
{
    color: white;
    text-shadow:
    -2px -2px 0 #007bff,
    2px -2px 0 #007bff,
    -2px 2px 0 #007bff,
    2px 2px 0 #007bff;
}
